@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*body, html{
    height: 140%;
}*/

body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

.principal {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    width: 100vw;
    height: 90vh;
}

.logo {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100vw;
    height: 5vh;
    background-color: #2462c5;
}

.logoImagem {
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
}  

.apresentacao > h2 {
    font-size: 25px;
}

.container1 {
    background-color: #f4f5fd;
    width: 500px;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5em;
    border: 0.05em solid #ccccce;
}

#formulario {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#nomeUsuario {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    width: 25em;
    border-radius: 2em;
    border: 0.3em solid  #c8cfda;
}

#nomeUsuario::placeholder {
    text-align: center;
}

#botaoEnvioDados {
    padding: 0.8em;
    border-radius: 0.3em;
    border: 0.2em solid black;
    background-color: rgb(7, 156, 7);
    margin-top: 3em;
    width: 10em;
}


#erroNome {
    color: red;
}

#CPF {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    width: 25em;
    border-radius: 2em;
    border: 0.3em solid  #c8cfda;
}

#CPF::placeholder {
    text-align: center;
}

#erroCPF {
    color: red;
}

#dataNascimento {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    width: 25em;
    border-radius: 2em;
    border: 0.3em solid  #c8cfda;
    margin-bottom: 0.8em;
    text-align: center;
}

#erroDtNascimento {
    color: red;
}

#regiaoNascimento {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    width: 25em;
    border-radius: 2em;
    border: 0.3em solid  #c8cfda;
}

#erroRegiaoNasc {
    color: red;
}

#regiaoNascimento::placeholder {
    text-align: center;
}

#telefone {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    width: 25em;
    border-radius: 2em;
    border: 0.3em solid  #c8cfda;
}

#telefone::placeholder {
    text-align: center;
}

#erroTelefone {
    color: red;
}

#emailUsuario {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    width: 25em;
    border-radius: 2em;
    border: 0.3em solid  #c8cfda;
}

#emailUsuario::placeholder {
    text-align: center;
}

#erroEmail {
    color: red;
}

#confirmaDados {
    color: green;
}

@media only screen and (max-width: 667px) {
    .container1 {
        width: 26em;
        height: 70em;
    }
}

@media only screen and (min-width: 700px) {
    .container1 {
        width: 700px;
        height: 1000px;
    }
}