@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200&display=swap');

:root {
    --corChaVerde: #D4E6B5;
    --corOliva: #AFC97E;
    --corFlax: #E2D686;
    --corAmarelo: #FFDF64;
    --corShandow: #877B66;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

/*icone da página*/
.icone {
    padding: 8px;
    background-color:#E2D686;
}

.iconeImg {
    width: 50px;
    padding-left: 13px;
}

/*primeria imagem - apresentação*/
.imagemDeInicio {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
    padding-bottom: 0.9em;;
}

/*area de oferta cliente*/
.paraCliente {
    display: wrap;
    margin: 8px;
    border: #E2D686 1px solid;
    border-radius: 9px;
}

.paraCliente > h3 {
    text-align: center;
}

.iconesCliente {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 6px;
}

.arvoreIcon, .hotelIcon, .lazerIcon, .escritorioIcon {
    width: 70px;
}

.significadoCliente {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

/*inicio primeiro bloco de grid*/

.gridUM {
    display: grid;
    grid-template-columns: 510px 400px;
    grid-template-rows: 320px 320px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 35px;
}

.imgGrid1 {
    box-shadow: 3px 4px var(--corChaVerde);
}

/*inicio segundo bloco de grid*/
.gridDOIS {
    display: grid;
    grid-template-columns: 506px 404px;
    grid-template-rows: 305px 305px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 45px;
}

.imgGrid2 {
    box-shadow: -3px -4px var(--corFlax);
}

.palavrasGrid2 {
    border: var(--corShandow) 1px solid;
    padding: 25px;
}

.palavrasGrid2-1 {
    border: var(--corChaVerde) 1px solid;
    padding: 25px;
}

/*inicio casa&minimalismo*/
.homeEminimalist {
    display: wrap;
    margin-top: 24px;
    margin-bottom: 24px;
    border: var(--corFlax) 2px solid;
}

.homeEminimalist > h1 {
    text-align: center;
}

/*inicio grid3*/

.gridTRES {
    display: grid;
    grid-template-columns: 506px 404px;
    grid-template-rows: 305px 305px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 45px;
}

.palavrasGrid3 {
    border: var(--corAmarelo) 1.5px solid;
    padding: 25px;
}

/*carrosel de imagens*/

.CarroselImagensMinimalista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin: 25px 0px;
    padding: 10px;
    background-color: var(--corChaVerde);
}

#id {
    border: black 1px solid;
}

/*outros....apresentacao produtos*/

.apresentacaoProdutos {
    display: flex;
    flex-direction: column;
    border: var(--corShandow) 2px solid;
}

.apresentacaoProdutos > h3 {
    text-align: center;
}

.outros {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 305px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 35px;
    margin-top: 45px;
}

.imgOutros {
    border: var(--corShandow) 1px solid;
    box-shadow: 6px 4px rgb(71, 70, 70);
}


/* footer */
.contatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #E2D686;
    padding: 10px 0px;
    margin-top: 15px;
}

.contatos > h2 {
    margin: 1px;
}

.contatos > h3 {
    margin: 2px;
}

.RedeSocial {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #E2D686;
    padding-top: 2px;
}

.instagram {
    padding-right: 0.15em;
    padding-bottom: 0.1em;
}

.facebook {
    padding-left: 0.50em;
}

.rodape {
    background-color: var(--corAmarelo);
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}


@media screen and (max-width: 700px) {
    .icone {
        padding: 5px;
    }

    .iconeImg {
        width: 40px;
        padding-left: 13px;
    }

    .arvoreIcon, .hotelIcon, .lazerIcon, .escritorioIcon {
        width: 45px;
    }

    /*grid1*/
    .imgGrid1 {
        width: 200px;
    }

    .gridUM {
        display: grid;
        grid-template-columns: 210px 200px;
        grid-template-rows: 140px 140px;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        margin-bottom: 15px;
    }

    /*grid2*/
    .imgGrid2 {
        width: 200px;
    }

    .gridDOIS {
        display: grid;
        grid-template-columns: 210px 200px;
        grid-template-rows: 140px 140px;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .palavrasGrid2 {
        border: var(--corShandow) 1px solid;
        border-left: white;
        margin-left: -5px;
        padding: 3px 10px 3px 10px;
        font-size: 10px;
    }
    
    .palavrasGrid2-1 {
        border: var(--corChaVerde) 1px solid;
        padding: 3px 1px 3px 1px;
        text-align: start;
        font-size: 10px;
    }

    /*grid 3*/
    .imgGrid3 {
        width: 200px;
    }

    .gridTRES {
        display: grid;
        grid-template-columns: 210px 200px;
        grid-template-rows: 140px 140px;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .palavrasGrid3 {
        border: var(--corShandow) 1px solid;
        padding: 3px;
        font-size: 10px;
    }

    /*carrosel imagens*/
    #id {
        width: 300px;
    }

    /*outros*/
    .outros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        margin-bottom: 15px;
        margin-top: 45px;
    }

    .imgOutros {
        width: 240px;
        margin-bottom: 5px;
    }

    /*contatos*/
    .contatos > h2 {
        margin: 1px;
        font-size: 20px;
    }
    
    .contatos > h3 {
        margin: 2px;
        font-size: 15px;
    }

   
}

