@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Redressed&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 19px;
}

:root {
    --corLightBlue: #C6E2E9;
    --corBabyPink: #EEC0C6;
    --corDarkSienna: #2A0800;
    --corSafatyYellow: #f1d302;
}
/**************************  menu ****************************/

#menu ul {
	padding-top:0.6em;
    padding-bottom: 0.5em;
    padding-right: 0em;
    padding-left: 0em;
	margin-top: auto;
	background-color:#EDEDED;
	list-style:none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4%;
}

#menu ul li { /*menu na horizontal*/
    display: inline; 
} 

#menu ul li a {
	padding: 0.3em 3em;
	display: inline-block;
	/* visual do link */
	background-color:#EDEDED;
	color: #333;
	text-decoration: none;
	border-bottom: 0.7em solid #EDEDED;
}

#menu ul li a:hover {
	background-color:#D6D6D6;
	color: #6D6D6D;
	border-bottom:0.2em solid #EA0000;
}

/******************* quem somos *********************/
.apresentacao > h2 {
    width: 100%;
    height: 6%;
    padding-top:0.3em;
    padding-bottom: 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dfd4d5;
}

.apresentacao > p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding-bottom: 10px;
    margin-bottom: 2px;
}

/********************** primeiro bloco ***********************/
.bloco1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    width: 100%;
    height: 6%;
    background-color: var(--corBabyPink);
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

.imgBombom {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
    padding-bottom: 0.9em;
}

.bloco1-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.doce {
    width: 40%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
    padding-bottom: 0.9em; 
    border-radius: 2em;
}

.cupcake {
    width: 40%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
    padding-bottom: 0.9em; 
    border-radius: 2em;
}

/************************* segundo bloco *****************************/

.bloco2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    width: 100%;
    height: 6%;
    background-color: rgb(95, 44, 44);
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

.imgMaracuja {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
    padding-bottom: 0.9em;
}

.bloco2-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boloCookie {
    width: 40%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
    padding-bottom: 0.9em; 
    border-radius: 2em;
}

.boloFrutas {
    width: 40%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
    padding-bottom: 0.9em; 
    border-radius: 2em;
}

@media screen and (max-width: 667px) {
    /************ config menu **************/
    #menu ul {
        padding-top:0.5em;
        padding-bottom: 0.5em;
        padding-right: 0em;
        padding-left: 0em;
        margin-top: auto;
        background-color:#EDEDED;
        list-style:none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 5%;
    }

    #menu ul li a { /*config menu*/
        padding: 0.1em 1em;
        display: inline-block;
        /* visual do link */
        background-color:#EDEDED;
        color: #333;
        text-decoration: none;
        border-bottom:3px solid #EDEDED;
    }

    /**************** quem somos *****************/
    .apresentacao > h2 {
        width: 100%;
        height: 6%;
        padding-top:0.2em;
        padding-bottom: 0.1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #dfd4d5;
    }

    /************************** primeiro bloco *****************************/
    .bloco1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        width: 100%;
        height: 3%;
        background-color: var(--corBabyPink);
        padding-bottom: 0.1em;
        padding-top: 0.1em;
    }

    /*********************** palavras lorem ipsum ************************/
    .bloco1-2 > h2 {
        font-size: 0.7em;
    }

    .bloco2-2 > h2 {
        font-size: 0.7em;
    }

}





/*@media all and (min-width: 800px) and (max-width: 1050px) {
    #menu ul {
        padding-top:25px;
        padding-bottom: 25px;
        margin:20px;
        background-color:#EDEDED;
        list-style:none;
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #menu ul li a {
        padding: 4px 60px;
       
        display: inline-block;
        
        /* visual do link */
       /* background-color:#EDEDED;
        color: #333;
        text-decoration: none;
        border-bottom:3px solid #EDEDED;
    }
    
}*/