@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
    font-family: 'Dancing Script', cursive;
    margin: 0px;
}

.fundo {
    background-color: #A0A083;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background: #fff;
    border-radius: 2em 2em 2em 2em;
}

.imgLogin {
    padding-top: 1.5em;
    padding-bottom: 0em;
    margin-bottom: 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nomeLogin {
    padding-top: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.nomeLogin > h2 {
    text-shadow: 2px 2px 5px rgb(34, 32, 32);
}

.formLogin {
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.5em;
}

.emailLogin {
    text-align: center;
    background-color: aliceblue;
    border-color: black;
    border-radius: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.formSenha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}

.senhaLogin {
    text-align: center;
    background-color: aliceblue;
    border-color: black;
    border-radius: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.forgetPass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: -10px;
    padding-bottom: 0px;
    margin-top: 0em;
    margin-bottom: 0em;
}

.forgetPass a {
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0em;
    margin-bottom: 0em;
}

.NovaConta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: -2em;
    margin-bottom: 0em;
}

.NovaConta a {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0em;
    margin-bottom: 0em;
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
}

a:link {
    color: rgb(53, 3, 28);
}

a:visited { /*cor inicial*/
    color: rgb(2, 54, 2);
}

a:hover { /* passa mouse por cima*/
    color: red;
  }
  
a:active { /*clica no link*/
    color: blue;
}

.botao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    padding-top: 1em;
}

.botaoEntrar {
    background-color: #8a8a5dc7;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    border-color: black;
    border-radius: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    
}

/********************* footer  **********************/
.padraoTell {
    margin: 0%;
    background-color: #826754;
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email > h3 {
    font-size: 1em;
    margin-top: 0.3em;
    margin-bottom: 0em;
    padding: 1em;
}

.telefone {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.telefone > h3 {
    padding-top: 0.2em;
    padding-bottom: 0.01em;
    font-size: 1em;
    margin-bottom: 0.2em;
}

.telefone > h4 {
    font-size: 0.9em;
    padding-top: 0.2em;
    padding-bottom: 0em;
    margin-top: 0.1em;
    margin-bottom: 0.2em;
}

@media only screen and (max-width: 667px) {
    .fundo {
        background-color: #A0A083;
        width: 100vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box {
        display: flex;
        flex-direction: column;
        width: 26em;
        height: 30em;
        background: #fff;
        border-radius: 2em 2em 2em 2em;
    }

    .imgLogin {
        padding-top: 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /****************  footer  *****************/

    .email > h3 {
        font-size: 0.8em;
        margin-top: 0.3em;
        margin-bottom: 0.2em;
    }

    .telefone {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .telefone > h3 {
        padding-top: 0.5em;
        font-size: 0.8em;
        margin-top: 0.1em;
        margin-bottom: 0em;
    }

    .telefone > h4 {
        font-size: 0.8em;
        margin-top: 0.1em;
        margin-bottom: 0em;
    }

}

