@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

:root {
    --cor0: #35612C;
    --cor1: #69B578;
}

body {
    /*background-color: #A0A083;*/
    font-family: 'Dancing Script', cursive;
    margin: 0px;
}

.fundo {
    background-color: #A0A083;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background: #fff;
    border-radius: 2em 2em 2em 2em;
}

.imgLogin {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nomeLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.formLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.1em;

}

.formSenha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}

.forgetPass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.forgetPass  a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(2, 54, 2);
    text-decoration: underline;
}

.botao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    padding-top: 2em;
}

/********************* footer  **********************/
.padraoTell {
    margin: 0%;
    background-color: #826754;
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email > h3 {
    font-size: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.2em;
}

.telefone {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.telefone > h3 {
    padding-top: 0.4em;
    padding-bottom: 0.01em;
    font-size: 1em;
    margin-bottom: 0.2em;
}

.telefone > h4 {
    font-size: 0.9em;
    padding-top: 0.1em;
    padding-bottom: 0em;
    margin-top: 0.1em;
    margin-bottom: 0.2em;
}

.copy {
    margin-top: 0em;
    margin-bottom: 0em;
}

@media only screen and (max-width: 667px) {
    .fundo {
        background-color: #A0A083;
        width: 100vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box {
        display: flex;
        flex-direction: column;
        width: 26em;
        height: 30em;
        background: #fff;
        border-radius: 2em 2em 2em 2em;
    }

    /****************  footer  *****************/

    .email > h3 {
        font-size: 0.8em;
        margin-top: 0.3em;
        margin-bottom: 0.2em;
    }

    .telefone {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .telefone > h3 {
        padding-top: 0.5em;
        font-size: 0.8em;
        margin-top: 0.1em;
        margin-bottom: 0em;
    }

    .telefone > h4 {
        font-size: 0.8em;
        margin-top: 0.1em;
        margin-bottom: 0em;
    }

    .copy {
        margin-top: 0em;
        margin-bottom: 0em;
        padding-bottom: 0em;
    }
}

